.App {
  padding: 20px;
  text-align: center;

  &__title {
    padding: 30px;
    font-size: 50px;
    color: #2a75bb;
    font-family: 'Roboto Slab', serif;
  }

  &__title-img {
    width: 300px;
  }
}
.pokeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pokeCard {
  width: 150px;
  height: 220px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightblue;
  border: 2px solid;
  border-radius: 5%;
  box-shadow: 0px 3px 50px -10px rgba(0, 0, 0, 0.75);

  & img {
    height: 100%;
  }

  & h2 {
    margin: 5px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  }

  & hr {
    border: 1px solid black;
  }

  & ul {
    display: flex;
    flex-direction: row;
  }

  & li {
    margin: 5px;
    text-transform: capitalize;
  }

  & p {
    padding: 5px;
    border-radius: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    color: white;
    background-color: grey;
  }
}
